# Build directories
build/

# IDE / Editor stuff
.vscode/
.idea/
*.swp
*.swo
*.user
*.userprefs

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# jetpack public sources bsp
public_sources.tbz2

# Canape Recordings
AI-chassis-control-pipeline/windows_udp_server/config/e3/canape/Recorder*
# Pyenv (windows server)
AI-chassis-control-pipeline/windows_udp_server/.venvE3
AI-chassis-control-pipeline/windows_udp_server/__pycache__